# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.env

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Django & Databases
*.sqlite3
db.sqlite3

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/